h1, h2, h3, h4 {
  font-family: Georgia, Times, serif;
  color: #c00;
}

a, a:hover {
  color: #c00;
}

pre.highlight {
  padding: 0.5em;
  border: 1px solid #aaa
}

blockquote {
  padding: 0.5em;
  border-left: 5px solid #eee;
}

img {
  max-width: 100%;
  height: auto;
}