<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div id="container">

          <div id="head">
            <h1 id="site-name"><a href="/">{{ site.name }}</a></h1>
          </div>

          <div id="sidebar">

            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/archive/">Archive</a></li>
              <li><a href= "/tags/">Tags</a></li>
            </ul>

            <p><a href="feed.xml">RSS</a></p>

          </div>

          <div id="content">
            {{ content }}
          </div>

        </div>

    </body>
</html>
