<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>{{ page.title }}</title>

    {% include card.html %}

    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/main.css">

  </head>
  <body>

    <div id="container">

      <div id="head">
        <h1 id="site-name"><a href="/">{{ site.name }}</a></h1>
      </div>

      <div id="sidebar">

        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/archive/">Archive</a></li>
          <li><a href="/talks/">Talks</a></li>
          <li><a href="/notes/">Notes</a></li>
          <li><a href="/tags/">Tags</a></li>
          <li><a href="/contact/">Contact</a></li>
          <li><a href="/rss.xml">RSS</a></li>
        </ul>

        <p class="me-external">Me on:</p>
        <ul>
          <li><a href="https://stackoverflow.com/users/1500/pondidum">StackOverflow</a></li>
          <li><a href="https://github.com/Pondidum">Github</a></li>
          <li><a href="https://twitter.com/pondidum">Twitter</a></li>
          <li><a href="https://twitch.tv/pondidum">Twitch</a></li>
        </ul>

      </div>

      <div id="content">
        {{ content }}
      </div>

    </div>

    <script src="/js/anchor.min.js"></script>
    <script>
      anchors.options.placement = "left"
      anchors.add();
    </script>
  </body>
</html>
